<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="grid.css">
  <title>Document</title>
</head>

<body>
  <main>
    <section class="grid-container">
      <div class="grid-item1 back-orange"></div>
      <div class="grid-item2 back-yellow"></div>
      <div class="grid-item3 back-green"></div>
      <section class="grid-item4">
        <div class="grid-item4-sub-item1 back-blue"></div>
        <div class="grid-item5-sub-item2  back-blue"></div>
      </section>
    </section>
  </main>
</body>

</html>